<!doctype html>
<!--[if lte IE 9]>     <html lang="en" class="no-focus lt-ie10 lt-ie10-msg"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Heroku ChatRoom</title>

        <meta name="description" content="Heroku ChatRoom">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Heroku ChatRoom">
        <meta property="og:site_name" content="ChatRoom">
        <meta property="og:description" content="Heroku ChatRoom">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="<%= static_path(@conn, "/img/favicons/favicon.png") %>">
        <link rel="icon" type="image/png" sizes="192x192" href="<%= static_path(@conn, "/img/favicons/favicon-192x192.png") %>">
        <link rel="apple-touch-icon" sizes="180x180" href="<%= static_path(@conn, "/img/favicons/apple-touch-icon-180x180.png") %>">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Codebase framework -->
        <link rel="stylesheet" id="css-main" href="<%= static_path(@conn, "/css/codebase.min.css") %>">

        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <link rel="stylesheet" id="css-theme" href="<%= static_path(@conn, "/css/themes/corporate.min.css") %>">
        <!-- END Stylesheets -->
    </head>
    <body>

        <div id="page-container" class="sidebar-o sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Side Overlay-->
            
            <!-- END Side Overlay -->

            <!-- Sidebar -->
            <%= render "sidebar.html", assigns %>
            <!-- END Sidebar -->

            <!-- Header -->
            <%= render "header.html", assigns %>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <%= if assigns[:room] do %>
                    <div class="bg-image" style="background-image: url('<%= @room.logo %>');">
                        <div class="bg-black-op-75">
                            <div class="content content-top content-full text-center">
                                <div class="py-20">
                                    <h1 class="h2 font-w700 text-white mb-10"><%= @room.name %></h1>
                                    <h2 class="h4 font-w400 text-white-op mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris congue, massa at vehicula auctor, ex dolor dictum nisl, ac venenatis nulla tortor aliquet mauris. Donec quis nisi convallis, facilisis ipsum eu, faucibus libero. Vivamus ultricies elit lectus, vel dapibus nibh convallis vel. Nulla consequat dolor s</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>

                <!-- Page Content -->
                <div class="content">
                    <%= render @view_module, @view_template, assigns %>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="opacity-0">
                <div class="content py-20 font-size-xs clearfix">
                    <div class="float-right">
                        Crafted with <i class="fa fa-heart text-pulse"></i> by <a class="font-w600" href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
                    </div>
                    <div class="float-left">
                        <a class="font-w600" href="https://goo.gl/po9Usv" target="_blank">Codebase 2.0</a> &copy; <span class="js-year-copy">2017</span>
                    </div>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->
        <script>window.userToken = "<%= assigns[:user_token] %>" </script> 
        <script src="<%= static_path(@conn, "/js/app.js") %> "></script>
        <!-- Codebase Core JS -->
        <script src="<%= static_path(@conn, "/js/core/jquery.min.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/core/bootstrap.bundle.min.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/core/jquery.slimscroll.min.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/core/jquery.scrollLock.min.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/core/jquery.appear.min.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/core/jquery.countTo.min.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/core/js.cookie.min.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/codebase.js") %> "></script>

        <!-- Page JS Plugins -->
        <script src="<%= static_path(@conn, "/js/plugins/chartjs/Chart.bundle.min.js")%> "></script>

        <!-- Page JS Code -->
        <script src="<%= static_path(@conn, "/js/pages/be_pages_dashboard.js") %> "></script>
        <script src="<%= static_path(@conn, "/js/plugins/jquery.uploadPreview.min.js")%> "></script>
        <script>
            $(document).ready(function() {
                $.uploadPreview({
                    input_field: "#img-upload",   // Default: .image-upload
                    preview_box: "#img-preview",  // Default: .image-preview
                    label_field: "#img-label",    // Default: .image-label
                    label_default: "Choose Image",   // Default: Choose File
                    label_selected: "Change Image",  // Default: Change File
                    no_label: false                 // Default: false
                });
            });
        </script>
        <script>
            document.getElementById('usePassword').addEventListener('change', () => {
                let passwordInput = document.getElementById('passwordInput');
                let passwordCheck = document.getElementById('usePassword').checked;
                if(passwordCheck)
                    passwordInput.disabled = false;
                else
                    passwordInput.disabled = true;
            });
        </script>
    </body>
</html>